<h3>The primary use for this application is to to contact the IS On Call person out of            hours,<br />
  or if you are unable to contact the IS help line for an Emergency IS related            problem.</h3>

<p class="bold main">------------------------------------<br />
  Normal Office hours</p>

<p class="main">Monday - Friday<br />7:00 am - 6:00pm</p>

<p class="bold main">------------------------------------<br />

  During normal office hours please use one of the following options</p>

<p class="main">
  Phone IS Help line 612-672-5160<br />
  email - dept-pharm-ret-it within Outlook<br />
  Create a Spiceworks ticket</p>