<p id="notice"><%= notice %></p>

<div class='form_input'>
  <form action="get_by_chars">
    Type the pharmacy name: <input class='t_input' type="text" name="site">
  </form>
  <form action="increment">
    Increment the counter: <input class="b_input" type="button" name="site">
  </form>
</div>

<p id="result"></p>
<br>

<div id='TextBoxDiv1' hidden>
  <form action='.'>
    <label>Enter Phone #:</label>
    <input type="text" class="text_input_1" name="textbox1" id="textbox1" value="" >
  </form>
</div>
<div id='TextBoxDiv2' hidden>
  <label>Enter problem in 100 characters or less:</label>
  <input type="text" name="textbox2" id="textbox2" value="" size="100">
  <label class="grey-label" id="char-counter"></label>
  <input type="button" name="sendbtn1" id="sendbtn1" value="Send">
</div>
<div id="dialog">
  Phone:<label id="phone-val"></label>
  <br/>
  Message:<label id="msg-val">temporary message</label>
</div>
