<p id="notice"><%= notice %></p>

<form action="get_by_chars">
  Type the site name:<input class='t_input' type="text" name="site">
</form>

<p id="result"></p>
<br>

<%= link_to 'New Site', new_site_path %>

<script>
  $('.t_input').keyup(function(){
      var content = $('.t_input').val()
      $('#result').text(content)
      $.post('sites/get_by_chars',
              {
                  chars: content
              },
              function(data, status){
                  $.each(data, function(index ,value){
                      $.each(value, function(key, val){
                          $('#result').text(key+":"+val)
                          console.log(key + ':'+ val)
                      })
                  })
              })
  })
</script>