<p id="notice"><%= notice %></p>

<div class='form_input'>
  <form action="get_by_chars">
    Type the pharmacy name: <input class='t_input' type="text" name="site">
  </form>
  <form action="increment">
    Increment the counter: <input class="b_input" type="button" name="site">
  </form>
</div>

<p id="result"></p>
<br>

<div id='TextBoxDiv1' hidden>
  <form action='.'>
    <label>Enter Phone #:</label>
    <input type="text" class="text_input_1" name="textbox1" id="textbox1" value="" >
    <label class="grey-label" id="char-counter"></label>
  </form>
</div>
<div id='TextBoxDiv2' hidden>
  <label>Enter problem in 100 characters or less:</label>
  <input type="text" name="textbox2" id="textbox2" value="" size="100">
</div>
<div id="TextBoxDiv3" hidden>
  <label>a message box will appear that will have their phone number and (optionally) their message
    confirming what they wrote, and their phone number. If they click on 'OK'</label>
  <input type="button" name="confirm" id="confirmbox1" value="OK">
</div>
