<p id="notice"><%= notice %></p>

<form action="get_by_chars">
  Type the site name:<input class='t_input' type="text" name="site">
</form>

<p id="result"></p>
<br>

<%= link_to 'New Site', new_site_path %>

<script>
  $('.t_input').keyup(function(){
      var content = $('.t_input').val()
      $('#result').text(content)
      $.post('sites/get_by_chars',
              {
                  chars: content
              },
              function(data, status){
                  var output_string = '<ul>'
                  $.each(data, function(index ,value){
                      output_string += value.site_name
                      $.each(value, function(key, val){
                          output_string += "<li>" + key + ":" + val + "</li>"
                      })
                  })
                  output_string += '</ul>'
                  $('#result').html( output_string )
              })
  })
</script>