<p id="notice"><%= notice %></p>

<div class='form_input'>
  <form action="get_by_chars">
    Type the pharmacy name: <input class='t_input' type="text" name="site">
  </form>
</div>

<p id="result"></p>
<br>
